<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <!-- postForm allows us to have access to the form object -->
    <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
        <!-- reactive froms now has validators in the javascript-->
        <input  
            matInput 
            formControlName="title"
            placeholder="Post Title">
        <mat-error *ngIf="form.get('title').invalid"> Title cannot be empty </mat-error> 
    </mat-form-field>
    <div>
        <button mat-stroked-button (click)="filePicker.click()">Add Image</button>
        <input type='file' #filePicker (change)="onImagePicked($event)">
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
        <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    <mat-form-field>
        <!-- The value property can be bound to variable that we define -->
        <!-- the # symbol used to create a reference, which can be passed in to grab the property -->
        <!-- We can get 2 way binding using nGmodel, ust be declared  in the main modules file-->
        <textarea  
            matInput 
            placeholder = "Post Content" 
            formControlName="content"></textarea>
        <mat-error *ngIf="form.get('content').invalid"> Content cannot be empty </mat-error>
    </mat-form-field>
    <!-- We can haver the event listener function here on the button class -->
    <button mat-raised-button color="primary" type="submit" required>Save Post</button>
    </form>
</mat-card>
