<mat-card>
    <!-- postForm allows us to have access to the form object -->
    <form (submit)="onSavePost(postForm)" #postForm="ngForm">
    <mat-form-field>
        <!-- We can also add mimnlength to force a length for the textarea -->
        <textarea  rows="1" matInput name="postTitle" [ngModel]="editPost?.title" required #postTitle="ngModel"
            placeholder = "Post Title"></textarea>
        <mat-error *ngIf="postTitle.invalid"> Title cannot be empty </mat-error> 
    </mat-form-field>
    <mat-form-field>
        <!-- The value property can be bound to variable that we define -->
        <!-- the # symbol used to create a reference, which can be passed in to grab the property -->
        <!-- We can get 2 way binding using nGmodel, ust be declared  in the main modules file-->
        <textarea  rows="3" matInput [ngModel]="editPost?.content" name="postContent" required #postContent="ngModel"
            placeholder = "Post Content"></textarea>
        <mat-error *ngIf="postTitle.invalid"> Content cannot be empty </mat-error>
    </mat-form-field>
    <!-- We can haver the event listener function here on the button class -->
    <button mat-raised-button color="primary" type="submit" required>Save Post</button>
    </form>
</mat-card>