/* Host is a special elemnent that targets the elemnt itself*/
/* must also add the block element */
:host {
    display: block;
    margin-top: 1rem;
}
/* tag for aligining text if there are no posts */
.info-text {
    text-align: center;
}

mat-spinner {
    margin: auto;
}

mat-paginator {
    margin-top: 1rem;
}